<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste de services </title>
</head>
<body>
    
    <h1>Liste des services</h1>
    <%for(elt of servs){%>
        <h4>
            <%=elt.title %>
        </h4>
    <%}
    %>

</body>
</html>